<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      <p>Search: <input ng-model="query">
      <p>Sort by: <select  ng-model="orderRepo">
               <option value="id">Repo ID</option>
               <option value="numpkg">Number of packages</option>
               <option value="last_published">Last published</option>
               </select>
      <p>Reverse order: <input type="checkbox" ng-model="orderRev">
      <p>Include disabled: <input type="checkbox" ng-model="repoEnabled" checked>
    </div>
    <div class="col-md-10">
      <!--Body content-->
      <ul class="Repos">
        <li ng-repeat="repo in repos | filter:{ id: query} | filter: { enabled: repoEnabled } : includeDisabled | orderBy : orderRepo : orderRev" 
            class="thumbnail repo-listing">
          <a href="#/repos/{{repo.id}}">{{repo.display_name}}</a>
          <p>Number of packages: {{ repo.numpkg }} </p>
          <p>Last published: {{ repo.last_published }}</p>
          <p ng-if="repo.last_sync">Last synchronise: {{ repo.last_sync }}</p>
          <p ng-if="repo.feed_url">Upstream URL: <a ng-href="{{ repo.feed_url }}">{{ repo.feed_url }}</a> </p>
          <p>Pulp path: <a ng-href="http://ld4repo02.ld4.lmax/pulp/repos/{{repo.distributors[0].config.relative_url}}">http://ld4repo02.ld4.lmax/pulp/repos/{{repo.distributors[0].config.relative_url}}</a>
        </li>
      </ul>

    </div>
  </div>
</div>
